<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>任务大厅</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Home/js/countdown.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Home/js/common.js"></script>
		<script type="text/javascript">
		$(function(){
			$('.task_info').bind('click',function(){
				var obj = $(this).parent().parent();
				var css = obj.find('.order_list_h3').css('display');
				if(css == 'none'){
					obj.find('.order_list_h3').slideDown();
				}else{
					obj.find('.order_list_h3').slideUp();
				}
			});
			var index = 0;
			$('.order_list li').each(function(){
				var dom = document.getElementById('c_' + index);
				var last_time = $(this).attr('last_time');
				new Countdown(dom,{
					format : 'hh:mm:ss',
					lastTime : last_time
				});
				index++;
			});
			$('.jiedan').bind('click',function(){
				var obj = $(this).parent().parent().parent().parent().parent().parent();
				var order_id = $(this).attr('order_id');
				$.ajax({
					url : '{:U("setTask")}',
					data : {
						order_id : order_id
					},
					dataType : 'json',
					success : function(result){
						alert(result.msg);
						if(result.remove == 1) obj.remove();
						if(result.status == 'success') obj.remove();
					}
				});
			});
		});
		</script>
	</head>
	<body>
		<header>任务大厅</header>
		<div class="order_list">
			<ul>
				<foreach name="list" item="value">
				<li last_time="{$value.last_time}">
					<div class="order_list_h1">
						<span>{$value.store_name}</span>
						<span style="float:right;color:#f8d101;" id="c_{$key}">0:00</span>
						<div class="clear"></div>
					</div>
					<div class="order_list_h2">
						<img src="{$value.logo}" />
						<div class="order_list_info">
							<h1>￥{:getOrderPrice($value['id'])}</h1>
							<p>配送到达时间：{$value.pei_time_timestamp|date="H:i:s",###}</p>
							<p>{$value.contact_address}</p>
						</div>
						<a href="javascript:;" class="task_info">查看</a>
					</div>
					<div class="order_list_h3">
						<h1>店铺地址：{$value.store_address}</h1>
						<h1>姓名：{$value.contact_name}</h1>
						<h1>电话：{$value.contact_telephone}</h1>
						<h1>地址：{$value.contact_address}</h1>
						<h1>商品列表</h1>
						{:getTaskGoods($value)}
					</div>
				</li>
				</foreach>
			</ul>
		</div>
		<include file="Common:footer" />
	</body>
</html>
