<footer>
	<ul>
		<li>
			<a href="{:U('Index/index')}">
				<img src="__PUBLIC__/Home/images/foot1.png" />
				<p>首页</p>
			</a>
		</li>
		<li>
			<a href="{:U('Order/index')}">
				<img src="__PUBLIC__/Home/images/foot2.png" />
				<p>订单</p>
			</a>
		</li>
		<!--
		<li>
			<a href="{:U('Order/task')}">
				<img src="__PUBLIC__/Home/images/foot3.png" />
				<p>任务大厅</p>
			</a>
		</li>
		-->
		<li>
			<a href="{:U('User/index')}">
				<img src="__PUBLIC__/Home/images/foot4.png" />
				<p>个人中心</p>
			</a>
		</li>
		<div class="clear"></div>
	</ul>
</footer>